<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{judul}}</title>
    <link rel="icon" href="/img/cuaca.png">
    <link rel="stylesheet" href="/css/style-bantuan.css"> <!-- Menghubungkan dengan CSS baru -->
    <title>Bantuan</title>
</head>
<body>
    {{>header}} <!-- Menyertakan header -->
    <div class="background-image"></div>
    <div class="main-content">
        <div class="content-section">
            <p><b>Halaman ini digunakan untuk apa?</b> Halaman ini biasanya digunakan untuk memberikan informasi atau petunjuk kepada pengguna mengenai fungsionalitas suatu aplikasi atau sistem. </p>
            <p><b>Apa itu API?</b> API (Application Programming Interface) adalah sekumpulan definisi dan protokol yang memungkinkan satu perangkat lunak berinteraksi dengan perangkat lunak lainnya. API berfungsi sebagai jembatan yang memungkinkan aplikasi berbeda untuk saling berbagi data dan fungsionalitas.</p>
            <p><b>API apa yang digunakan dalam aplikasi ini?</b> Akan menggunakan API tertentu untuk melakukan komunikasi dengan server, mengakses database, atau berintegrasi dengan layanan lain. Contoh API yang sering digunakan antara lain RESTful, SOAP, atau GraphQL. Jelaskan dengan menyebutkan nama API yang digunakan serta fungsinya dalam aplikasi.</p>
            <p><b>Salah satu pola arsitektur API adalah RESTful API. Jelaskan?</b> RESTful API adalah salah satu pola arsitektur API yang paling populer. REST (Representational State Transfer) menggunakan prinsip dasar HTTP dan berfokus pada sumber daya yang dapat diidentifikasi dengan URL.</p>
        </div>
    </div>
    <script src="/js/app.js"></script>
    {{>footer}} <p> Yola Aprilia Putri </p> <!-- Menyertakan footer -->
</body>
</html>
